{% extends 'base.html' %}


{% block title %}ShortUrl | Login{% endblock %}




{% block content %}
<p class='center'><a class='home-link' href="{% url 'home' %}">Home</a></p>
<h2 class="center title">Log In</h2>
{% if form.non_field_errors %}
<div class='errors center'>
    <ul class='form-errors' style="list-style-type: none;">
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% if messages %}
<div class="messages center">
<ul>
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}
<form class="form center" method="post">{% csrf_token %}
    <input placeholder="Username" type="text" class="login-form-username" name="username" autofocus required id="id_username">
    <br />
    <input placeholder="Password" type="password" class="login-form-password" name="password" required id="id_password">
    <br />
    <input type="hidden" name="next" value="{% url 'account' %}" />
    <button class="form-button-login" type="submit">Log In</button>
    <p>Don't have an account? <a href="{% url 'signup' %}">Signup</a></p>
</form>

{% endblock %}